body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#contador {
    font-size: 82px;
    font-weight: bold;
    color: #333;
    border: 2px solid rgb(70, 187, 255);
    border-radius: 4px;
    padding: 6px 40px;
}

.contador{
    border-radius: 10px;
    background-color: #c3deff;
    border-color: #000;
    padding: 20px;
    width: 60%;
    margin-top: 40px;
    text-align: center;
}
#imagem{
    width: 100%;
    border-radius: 6px;
}